<div class="about-me-wrap">
    <div class="about-me-container">
        <img data-aos="fade-right" class="porto2" src="assets/img/port33-min.jpg" />

        <span data-aos="fade-left">
        <h2>About me.</h2>
        <p>
          "I am a junior software developer, enjoying web development, especially of simple and complex web apps and always eager to learn. "
        </p>
        <div class="CV">
          <a class="cvbtn" href= "/dist/feros-djahani/downloads/CV.pdf"target= "_blank">My CV</a>
      </div>
      </span>
    </div>


    <div class="my-journey-wrap">
        <div class="my-journey-container">
            <div data-aos="fade-right" class="icon-container">
                <img src="assets/img/walk.png" class="about-me-icon" />
            </div>
            <span data-aos="fade-right">
          <h3>I Started</h3>
          <p>
             my IT journey by coding small websites at home and watching other tutorials. During my current job as an industrial mechanic, I found that the part of work I enjoyed the most was always related to software. 
            So I decided to amplify my IT knowledge and gain experience in web development.
          </p>
        </span>
        </div>
        <div class="my-journey-container">
            <div data-aos="fade-up" class="icon-container">
                <img src="assets/img/search.png" class="about-me-icon" />
            </div>
            <span data-aos="fade-up">
          <h3>My Search</h3>
          <p>
            started after I found out about the individual options, I dedicated my free time to systematically learning coding and software development at a professional software development school,
             Developer Akademie in Munich. This gave me the chance to not only learn to code fast and accompanied, but also to build several projects alone and in teams with the mentioned technologies.
          </p></span
        >
      </div>
      <div class="my-journey-container">
        <div data-aos="fade-up" class="icon-container">
          <img src="assets/img/heart.png" class="about-me-icon" />
        </div>
        <span data-aos="fade-up">
          <h3>My Passion</h3>
          <p>
            was always computers, since I was spending a lot of my spare time with work on my PC. I was curious about how software is being developed and 
            was very enthusiastic about the work process and the creativity behind it. Also I liked the fact that you never stop learning in this job, and it is generally a constant 
            learning process in which you are always encountering new things and growing.

          </p></span
        >
      </div>
      <div class="my-journey-container">
        <div data-aos="fade-left" class="icon-container">
          <img src="assets/img/flight.png" class="about-me-icon" />
        </div>
        <span data-aos="fade-left">
          <h3>My Journey</h3>
          <p>
            In the first month of learning, I discovered new sides of myself. I would never have thought that I would develop such a great passion for an idea that I had at the time, and that I would be happy to invest so much time in it without losing interest. 
            This motivated me to continue my journey, which has now brought me to this portfolio you see now.
          </p></span
        >
      </div>
    </div>
  </div>