<form action="https://formspree.io/f/xlezworn" method="POST">
    <div class="contact-form">
        <div data-aos="fade-right" class="form-field-container">
            <p>Name</p>
            <div color="accent" appearance="outline">
                <label>Name</label>
                <input id="name" matInput placeholder="Enter your name" />
            </div>
        </div>
        <div data-aos="fade-left" class="form-field-container">
            <p>Email Address</p>
            <div color="accent" appearance="outline">
                <label>E-Mail</label>
                <input id="e-mail" type="email" name="email" matInput placeholder="Enter your Email address" />
            </div>
        </div>
        <div data-aos="fade-right" class="form-field-container">
            <p>Message</p>
            <div color="accent" appearance="outline">
                <label>Message</label>
                <textarea id="message" name="message" matInput placeholder="Enter your message"></textarea>
            </div>
        </div>
        <button data-aos="zoom-out-up" (click)="submit()" type="submit" class="from-center" mat-stroked-button>
        SUBMIT
      </button>
    </div>
</form>