.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding-bottom: 5rem;
    overflow: hidden;
    p {
        margin: 0 0 0.5rem;
        color: white;
        &:hover {
            color: #2dfcd8;
        }
    }
}

.inside {
    background-color: #1a1a1a !important;
    color: white !important;
    border: 1px solid #7c7c7ccc;
    border-radius: 6px;
    height: 50px;
    width: 40vw;
    &:hover {
        border: 2px solid #2dfcd8;
    }
}

.active {
    background-color: #1a1a1a !important;
    color: white !important;
    border: 2px solid #2dfcd8 !important;
    border-radius: 6px;
    height: 50px;
    width: 40vw;
    &:hover {
        border: 2px solid #2dfcd8;
    }
}

textarea {
    min-height: 10rem;
}

.form-field-container {
    padding: 15px;
}

button {
    color: white;
    width: 40vw;
    margin: 0 0.2rem;
    padding: 1rem 0;
    margin-top: 30px;
    border: 2px solid #2dfcd8;
    border-radius: 6px;
    transition: ease-in-out 100ms;
    background-color: #000000;
    &:hover {
        background-color: #2dfcd8;
        color: #000000;
    }
    &:active {
        background-color: #2dfcd8;
        color: #000000;
    }
}

@media (max-width: 1000px) {
    .inside {
        width: 60vw;
    }
    .active {
        width: 60vw;
    }
    button {
        width: 60vw;
    }
}

@media (max-width: 800px) {
    .inside {
        width: 75vw;
    }
    .active {
        width: 60vw;
    }
    button {
        width: 75vw;
    }
}

@media (max-width: 600px) {
    .inside {
        width: 85vw;
    }
    .active {
        width: 60vw;
    }
    button {
        width: 85vw;
    }
}

@media (max-width: 500px) {
    .inside {
        width: 90vw;
    }
    .active {
        width: 60vw;
    }
    button {
        width: 90vw;
    }
}