<form action="http://@feros-djahani.developerakademie.net/Portfolio/send_mail.php" method="POST">
    <div class="contact-form">
        <div data-aos="fade-right" class="form-field-container">
            <p>Name</p>



            <input class="inside" name="name" id="name" matInput placeholder="Enter your name" />

        </div>
        <div data-aos="fade-left" class="form-field-container">
            <p>Email Address</p>

            <input class="inside" id="e-mail" type="email" name="email" matInput placeholder="Enter your Email address" />

        </div>
        <div data-aos="fade-right" class="form-field-container">
            <p>Message</p>

            <textarea class="inside" id="message" name="message" matInput placeholder="Enter your message"></textarea>

        </div>
        <div id="maili" class="maill d-none">

            <div class="mailstyle">E-Mail Send!</div>
        </div>
        <button data-aos="zoom-out-up" (click)="submit()" type="submit" class="from-center" mat-stroked-button>
     Submit
     </button>

    </div>
</form>