<div class="slideshow-container">
    <img *ngIf="showImage" class="img-slideshow" src="assets/img/{{images[currentImage]}}">

</div>

<div class="slideshow-container slideshow-overlay introduction-wrap">

    <div class="fadeIn">
        <b><span class="h2Color">Hi,</span><br>
            <span class="h2Color">I'm</span>&nbsp;&nbsp;&nbsp;<span class="h1Color">Feros</span>&nbsp;&nbsp;&nbsp;<span class="h2Color">Djahani</span><br>
            <span class="h2Color">Front</span>&nbsp;&nbsp;&nbsp;<span class="h2Color">End</span>&nbsp;&nbsp;&nbsp;<span class="h2Color">Developer</span></b>

        <div class="mobb">
            <div (click)="toContactMe()" class="button2">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Contact me
            </div>
        </div>
    </div>
    <div class="img-container">
        <img class="mypic" src="./assets/img/IT5.jpg">
    </div>


</div>
<div (click)="toMySkills()" class="arrow-wrap">
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<app-skills id="skills"></app-skills>
<app-my-work id="my-work"></app-my-work>
<app-about-me id="about-me"></app-about-me>
<app-contact-me id="contact-me"></app-contact-me>
<app-contact-form></app-contact-form>