.slideshow-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.introduction-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.img-slideshow {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.slideshow-overlay {
    background-color: rgba (0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 120px;
    //width: 720px;
    box-sizing: border-box;
}

.h1Color {
    font-size: 4rem;
    color: rgb(238, 28, 150);
}

.h1Color:hover {
    color: aquamarine;
}

.h2Color {
    font-size: 4rem;
    color: white;
}

.h2Color:hover {
    color: rgb(238, 28, 150);
}

.fadeIn {
    animation: fadeInAnimation 1.2s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mypic {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.img-container {
    padding-right: 8.1rem;
}

.button2 {
    display: inline-block;
    padding: 1.5rem 7rem;
    margin-top: 6rem;
    color: #2dfcd8;
    text-decoration: none;
    overflow: hidden;
    filter: hue-rotate(0deg);
    border: 2px solid #2dfcd8;
    transition: all 0.1s linear;
    &:hover {
        border: 1px solid transparent;
        cursor: pointer;
        span {
            position: absolute;
            display: block;
            &:nth-child(1) {
                filter: hue-rotate(0deg);
                top: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, transparent, #3a86ff);
                animation: animate1 1s linear infinite;
            }
            @keyframes animate1 {
                0% {
                    left: -100%;
                }
                50%,
                100% {
                    left: 100%;
                }
            }
            &:nth-child(2) {
                filter: hue-rotate(60deg);
                top: -100%;
                right: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(90deg, transparent, #3a86ff);
                animation: animate2 1s linear infinite;
                animation-delay: 0.25s;
            }
            @keyframes animate2 {
                0% {
                    top: -100%;
                }
                50%,
                100% {
                    top: 100%;
                }
            }
            &:nth-child(3) {
                filter: hue-rotate(120deg);
                bottom: 0;
                right: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, transparent, #3a86ff);
                animation: animate3 1s linear infinite;
                animation-delay: 0.5s;
            }
            @keyframes animate3 {
                0% {
                    right: -100%;
                    height: 3px;
                }
                50%,
                100% {
                    height: 2px;
                    right: 100%;
                }
            }
            &:nth-child(4) {
                filter: hue-rotate(300deg);
                bottom: -100%;
                left: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(90deg, transparent, #3a86ff);
                animation: animate4 1s linear infinite;
                animation-delay: 0.75s;
            }
            @keyframes animate4 {
                0% {
                    bottom: -100%;
                }
                50%,
                100% {
                    bottom: 100%;
                }
            }
        }
    }
}

.arrow-wrap {
    display: flex;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}

.arrow {
    transform: translate(-50%, -50%);
    margin-top: -3.5rem;
}

.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-bottom: 3px solid #2dfcd8;
    border-right: 3px solid #2dfcd8;
    transform: rotate(45deg);
    margin: -0.6rem;
    animation: animate 1.5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media (max-width: 1300px) {
    .img-container {
        padding-right: 6.1rem;
    }
    .introduction-container {
        padding: 3rem 0 0 6.1rem;
    }
}

@media (max-width: 1110px) {
    .h2Color {
        font-size: 3.4rem;
    }
    .h1Color {
        font-size: 3.4rem;
    }
    .mypic {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 1110px) {
    .h2Color {
        font-size: 3.2rem;
    }
    .h1Color {
        font-size: 3.2rem;
    }
    .mypic {
        height: 250px;
        width: 250px;
        padding: 30px;
    }
    .introduction-wrap {
        justify-content: center;
    }
    .img-container {
        padding-right: 4rem;
    }
    .introduction-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0rem 1rem 0 4rem;
    }
    .button2 {
        padding: 1.5rem 6rem;
        margin-top: 2rem;
    }
}

@media (max-width: 1000px) {
    .h2Color {
        font-size: 3.2rem;
    }
    .h1Color {
        font-size: 3.2rem;
    }
    .mypic {
        height: 250px;
        width: 250px;
    }
    .introduction-wrap {
        justify-content: center;
    }
    .img-container {
        padding-right: 4rem;
    }
    .introduction-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0rem 1rem 0 4rem;
    }
    .button2 {
        padding: 1.5rem 6rem;
        margin-top: 2rem;
    }
}

@media (max-width: 900px) {
    .h2Color {
        font-size: 3rem;
    }
    .h1Color {
        font-size: 3rem;
    }
    .introduction-wrap {
        justify-content: space-between;
    }
    .img-container {
        padding-right: 3rem;
    }
    .introduction-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0rem 0 0 3rem;
    }
    .button2 {
        padding: 1.5rem 6rem;
        margin-top: 2rem;
    }
}

@media (max-width: 830px) {
    .h2Color {
        font-size: 3.4rem;
    }
    .h1Color {
        font-size: 3.4rem;
    }
    .introduction-wrap {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 5rem 2rem 0;
    }
    .img-container {
        padding-right: 0;
    }
    .introduction-container {
        flex-direction: column;
        text-align: start;
        padding: 0;
    }
    .arrow-wrap {
        display: none;
    }
    .button2 {
        margin-bottom: 2rem;
    }
    .mobb {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .h2Color {
        font-size: 3rem;
    }
    .h1Color {
        font-size: 3.4rem;
    }
    .introduction-wrap {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 4rem 1.5rem 0;
    }
    .mobmen {
        display: unset;
    }
}

@media (max-width: 520px) {
    .h2Color {
        font-size: 2.5rem;
    }
    .h1Color {
        font-size: 2.5rem;
    }
    .button2 {
        margin-bottom: 0;
        padding: 2rem 7rem;
    }
}

@media (max-width: 500px) {
    .introduction-wrap {
        margin-bottom: -4rem;
    }
    .img-slideshow {
        display: none;
    }
    .slideshow-container {
        background-color: #1a1a1a;
    }
}

@media (max-width: 440px) {
    .h2Color {
        font-size: 2rem;
    }
    .h1Color {
        font-size: 2rem;
    }
    .mypic {
        height: 200px;
        width: 200px;
    }
    .introduction-wrap {
        padding: 0 1rem 0;
    }
    .mobb {
        display: flex;
        justify-content: center;
    }
    .button2 {
        padding: 1.5rem 6rem;
    }
}

@media (max-width: 653px) {
    .h2Color {
        font-size: 1.5rem;
    }
    .h1Color {
        font-size: 1.5rem;
    }
    .mypic {
        height: 200px;
        width: 200px;
    }
    .introduction-wrap {
        padding: 0 1rem 0;
    }
    .mobb {
        display: flex;
        justify-content: center;
    }
    .button2 {
        padding: 1.5rem 6rem;
    }
}

@media (max-width: 360px) {
    .introduction-wrap {
        padding: 2rem 1rem 0;
    }
    .introduction-container {
        text-align: center;
    }
    .button2 {
        padding: 1rem 4.5rem;
    }
}

@media (max-width: 330px) {
    .mypic {
        height: 180px;
        width: 180px;
    }
    .button2 {
        padding: 1rem 3.5rem;
    }
}

@media (max-width: 300px) {
    .button2 {
        padding: 1rem 3rem;
    }
}

@media (height: 375px) {
    .mypic {
        width: 150px;
        height: 150px;
    }
    .h1Color {
        font-size: 2.5rem;
    }
    .h2Color {
        font-size: 2.5rem;
    }
    .introduction-wrap {
        display: flex;
        flex-direction: row;
    }
}

@media (height: 414px) {
    .mypic {
        width: 200px;
        height: 200px;
    }
}

@media (height: 390px) {
    .mypic {
        width: 150px;
        height: 150px;
    }
}

@media (height: 393px) {
    .mypic {
        width: 200px;
        height: 200px;
    }
}

@media (height: 412px) {
    .mypic {
        width: 200px;
        height: 200px;
    }
}

@media (height: 360px) {
    .mypic {
        width: 150px;
        height: 150px;
    }
    .h1Color {
        font-size: 2.5rem;
    }
    .h2Color {
        font-size: 2.5rem;
    }
    .introduction-wrap {
        display: flex;
        flex-direction: row;
    }
}

@media (height: 540px) {
    .mypic {
        width: 150px;
        height: 150px;
    }
    .h1Color {
        font-size: 2.5rem;
    }
    .h2Color {
        font-size: 2.5rem;
    }
    .introduction-wrap {
        display: flex;
        flex-direction: row;
    }
}

@media (height: 512px) {
    .mypic {
        width: 150px;
        height: 150px;
    }
    .h1Color {
        font-size: 2.5rem;
    }
    .h2Color {
        font-size: 2.5rem;
    }
    .introduction-wrap {
        display: flex;
        flex-direction: row;
    }
}