<div class="slideshow-container">
    <img *ngIf="showImage" class="img-slideshow" src="assets/img/{{images[currentImage]}}">

</div>

<div class="slideshow-container slideshow-overlay">

    <div class="fadeIn">
        <b><span class="h2Color">Hi,</span><br>
            <span class="h2Color">I'm</span>&nbsp;&nbsp;&nbsp;<span class="h1Color">Feros</span>&nbsp;&nbsp;&nbsp;<span class="h2Color">Djahani</span><br>
            <span class="h2Color">Front</span>&nbsp;&nbsp;&nbsp;<span class="h2Color">End</span>&nbsp;&nbsp;&nbsp;<span class="h2Color">Developer</span></b>


    </div>
    <div class="img-container">
        <img class="my-pic" src="./assets/img/feros.jpg">
    </div>

</div>