<div class="contact-me-wrap">
    <h2 data-aos="fade-down">CONTACT ME</h2>
    <div class="contact-icons-container">
        <div class="contact-container">
            <img class="web" src="./assets/img/loc.jpg" data-aos="fade-right">
            <span data-aos="fade-right">
          <h3>Address</h3>
          <a class="contact-link" href="https://goo.gl/maps/9X91E2BjU7dqacsB7"
            >52349 Düren</a
          >
        </span>
        </div>
        <div class="contact-container">
            <img class="web" src="./assets/img/tele.jpg" data-aos="fade-up">
            <span data-aos="fade-up">
          <h3>Direct</h3>
          <a class="contact-link" href="tel:+4917645812584">+49 176 45812584</a>
        </span>
        </div>
        <div class="contact-container">
            <img class="web" src="./assets/img/web.jpg" data-aos="fade-left">
            <span data-aos="fade-left">
          <h3>Web</h3>
          <a class="contact-link" href="www.feros-djahani.developerakademie.net"
            >feros-djahani.de</a
          >
        </span>
        </div>
    </div>
    <div class="contact-form-wrap">
        <h3 data-aos="fade-up" class="contact-heading">
            Get in touch via the form below, or by emailing
        </h3>
        <a data-aos="fade-up" href="mailto:f.djahani@outlook.de">f.djahani<wbr />@outlook.de</a>

    </div>
</div>