<header>

    <img onclick="getHome()" class="logo_img" src="assets/img/Logo.png">

    <div class="links">
        <a class="header-links third after" routerLink="/"> HOME </a>

    </div>

</header>

<div class="imprint-wrap">
    <img class="imagee" src="./assets/img/wall4.jpg">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
        Feros Djahani<br /> Marie-Juchacz Straße 42a<br /> 52349 Düren
    </p>

    <h2>Kontakt</h2>
    <p>
        Telefon: 017645812584<br /> Telefax: +49 017645812584<br /> E-Mail: f.djahani@outlook.de
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>



</div>